.tracking-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .tracking-map-container > div {
    height: 700px;
    width: 375px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
}
